.App {
  text-align: center;
}

.movie-card {
  height: 170px;
}

.card {
  border: none !important;
}

.movie-card-body {
  padding: 5px !important;
}

.carousel-image {
  z-index: 1;
  width: 55%;
  max-height: 100%;
}

.featured-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.featured-title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .movie-card {
    height: 120px;
  }

  .card-body {
    padding: 5px !important;
  }

  .movie-card-title {
    font-size: 1rem !important;
  }

  .movie-card-text {
    font-size: 0.9rem !important;
  }

  .featured-card {
    padding: 5px;
  }

  .featured-card-img {
    height: 180px;
  }

  .carousel-image {
    width: 100%;
  }
}
